{% if list %}
<table id="tabla">
  <thead>
    <th class="id">ID</th>
    <th class="status">Estado</th>
    <th class="title">T&iacute;tulo</th>
  </thead>
  <tbody>
    {% for task in list %}
    <tr class="{{ task.video.tipo }} {%cycle 'odd' 'even' %}">
        <td class="id">{{ task.video.id }}</td>
        <td class="status">{{ task.get_status_display }}</td>
        <td class="title"><a href="{% url estado_video task.video.id %}">{{ task.video.titulo }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="mensaje info">No hay ning&uacute;n trabajo en la cola de publicaci&oacute;n.</div>
{% endif %}
