{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Publicar producci&oacute;n: Clipbucket{% endblock %}
{% block section-class %} class = "formulario config" {% endblock %}
{% block section-title %}<h1>Publicar producci&oacute;n: Clipbucket</h1>{% endblock %}
{% block section-description %}{% endblock %}

{% block section-content %} 
    <div class="formulario-nueva">
        <form method="post" action="" class="form-nueva">
        <ul>
            {% csrf_token %}
            {{ form.as_ul }}
            </ul>
            <hr/>
            <input type="submit" value="Publicar" />
            <input type="reset" value="Restaurar formulario" />
        </form>
    </div>
{% endblock %}

{% block section-widget %}

            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacutes;s</div>
                <div class="portlet-content">
                    <ul>
<li class="tip">Par&aacute;metros de publicaci&oacute;n de la producci&oacute;n en el repositorio Clipbucket.</li>
                    </ul>
                </div>
            </div>
{% endblock %}
