%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        Metadata => {
            Description => 'Metadata',
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Metadata',
            },
        },
        MetadataOA => {
            Description => 'Metadata de Objeto de Aprendizaje',
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::MetadataOA',
            },
        },
        MetadataGen => {
            Description => 'Metadata de Produccion Generica',
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::MetadataGen',
            },
        },
    },
);

%Image::ExifTool::UserDefined::Metadata = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Metadata', 2 => 'Other' },
    NAMESPACE => { 'Metadata' => 'http://www.ull.es/' },
    WRITABLE => 'string',

    knowledge_areas => { Description => 'Clasificacion Universidad' },
    title => { Description => 'Titulo completo de la produccion' },
    creator => { Description => 'Autor/es o creador/es' },
    keyword => { Description => 'Palabras clave o etiquetas' },
    description => { Description => 'Descripcion breve' },
    license => { Description => 'Licencia de uso' },
);

%Image::ExifTool::UserDefined::MetadataOA = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-MetadataOA', 2 => 'Other' },
    NAMESPACE => { 'MetadataOA' => 'http://www.ull.es/' },
    WRITABLE => 'string',

    guideline => { Description => 'Area de conocimiento UNESCO' },
    contributor => { Description => 'Colaborador/es' },
    audience => { Description => 'Audiencia o publico objetivo' },
    typical_age_range => { Description => 'Edad de la audiencia o publico objetivo' },
    source => { Description => 'Identificador de obra derivada' },
    language => { Description => 'Spanish' },
    ispartof => { Description => 'Serie a la que pertence' },
    location => { Description => 'Localizacion' },
    venue => { Description => 'Lugar de celebracion' },
    temporal => { Description => 'Intervalo de tiempo' },
    rightsholder => { Description => 'Persona, entidad u organizacion responsable de la gestion de los derechos de autor' },
    date => { Description => 'Fecha de grabacion' },
    created => { Description => 'Fecha de produccion' },
    valid => { Description => 'Fecha de validacion' },
    interactivity_type => { Description => 'Tipo de interaccion con la audiencia o publico objetivo' },
    interactivity_level => { Description => 'Nivel de interaccion' },
    learning_resource_type => { Description => 'Tipo de recurso educativo' },
    semantic_density => { Description => 'Densidad semantica del contenido' },
    context => { Description => 'Contexto educativo' },
    dificulty => { Description => 'Nivel de dificultad' },
    typical_learning_time => { Description => 'Tiempo estimado para la adquisicion de conocimientos' },
    educational_language => { Description => 'Caracteristicas del lenguaje educativo' },
    purpose => { Description => 'Objetivo del contenido' },
    unesco => { Description => 'Dominio de conocimiento' },
);

%Image::ExifTool::UserDefined::MetadataGen = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-MetadataGen', 2 => 'Other' },
    NAMESPACE => { 'MetadataGen' => 'http://www.ull.es/' },
    WRITABLE => 'string',

    transcription => { Description => 'Transcripcion' },
    contributor => { Description => 'Colaborador/es' },
    language => { Description => 'Idioma' },
    location => { Description => 'Localizacion' },
    venue => { Description => 'Lugar de celebracion' },
);

1;  #end