{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Publicar producci&oacute;n: YouTube{% endblock %}
{% block section-class %} class = "formulario config" {% endblock %}
{% block section-title %}<h1>Publicar producci&oacute;n: YouTube</h1>{% endblock %}
{% block section-description %}{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        function select_form() {
            if ($('input[type=radio]')[0].checked) {
                $('#add_playlist').hide()
                $('#new_playlist').hide()
            }
            if ($('input[type=radio]')[1].checked) {
                $('#add_playlist').show()
                $('#new_playlist').hide()
            }
            if ($('input[type=radio]')[2].checked) {
                $('#add_playlist').hide()
                $('#new_playlist').show()
            }
        }
        $(document).ready(function() {
            $('input[type=radio]').live('change', select_form);
            select_form();
        });
    </script>
{% endblock %}

{% block section-content %}
    <div class="formulario-nueva">
        <form method="post" action="" class="form-nueva">
        <ul>
            {% csrf_token %}
            {{ form.as_ul }}
            <div id="add_playlist">
            {{ add_form.as_ul }}
            </div>
            <div id="new_playlist">
            {{ new_form.as_ul }}
            </div>
            </ul>
            <hr/>
            <input type="submit" value="Publicar" />
            <input type="reset" value="Restaurar formulario" />
        </form>
    </div>
{% endblock %}

{% block section-widget %}

            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul>
<li class="tip">Par&aacute;metros de publicaci&oacute;n de la producci&oacute;n en el repositorio YouTube.</li>
                    </ul>
                </div>
            </div>
{% endblock %}
