{% extends "base-2-1.html" %}

{% block page-title %}Publicar producci&oacute;n: Clipbucket{% endblock %}
{% block section-class %} class = "formulario config" {% endblock %}
{% block section-title %}<h1>Publicar producci&oacute;n: Clipbucket</h1>{% endblock %}
{% block section-description %}{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        function select_form() {
            if ($('input[type=radio]')[0].checked) {
                $('#add_collection').hide()
                $('#new_collection').hide()
            }
            if ($('input[type=radio]')[1].checked) {
                $('#add_collection').show()
                $('#new_collection').hide()
            }
            if ($('input[type=radio]')[2].checked) {
                $('#add_collection').hide()
                $('#new_collection').show()
            }
        }
        $(document).ready(function() {
            $('input[type=radio]').live('change', select_form);
            select_form();
        });
    </script>
{% endblock %}

{% block section-content %} 
    <div class="formulario-nueva">
        <form method="post" action="" class="form-nueva">
        <ul>
            {% csrf_token %}
            {{ form.as_ul }}
            <div id="add_collection">
            {{ add_form.as_ul }}
            </div>
            <div id="new_collection">
            {{ new_form.as_ul }}
            </div>
            </ul>
            <hr/>
            <input type="submit" value="Publicar" />
            <input type="reset" value="Restaurar formulario" />
        </form>
    </div>
{% endblock %}

{% block section-widget %}

            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content">
                    <ul>
<li class="tip">Par&aacute;metros de publicaci&oacute;n de la producci&oacute;n en el repositorio Clipbucket.</li>
                    </ul>
                </div>
            </div>
{% endblock %}
