{% extends "base-2-1-public.html" %}

{% block page-title %}P&aacute;gina no encontrada{% endblock %}
{% block section-title %}<h1>P&aacute;gina no encontrada</h1>{% endblock %}

{% block section-content %}

<div class="mensaje error">Error HTTP 404<br/><br/>La p&aacute;gina que est&aacute; solicitando no existe en el servidor.</div>

{% endblock %}

{% block section-widget %}
        <div class="portlet">
            <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
            <div class="portlet-content info-interes">
                <ul> 
        <li class="tip">La p&aacute;gina que est&aacute; solicitando no existe en el servidor, pruebe a ir a la p&aacute;gina de inicio y buscar a partir de ah&iacute;.<br /><br />Si cree que se trata de un error p&oacute;ngase en contacto con el administrador del sitio.</li>
                </ul>
            </div>
        </div>

{% endblock %}
