{% extends "base-2-1-public.html" %}

{% block page-title %}Ticket caducado{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Ticket caducado</h1>{% endblock %}

{% block section-content %}

<div class="mensaje error">El ticket al que intenta acceder se ha caducado.<br/><br/>El ticket solicitado no está disponible, probablemente se haya caducado, si es as&iacute;, p&oacute;ngase en contacto con el personal t&eacute;cnico para que le generen un nuevo ticket; si no es as&iacute;, verifique que la URL que ha introducido es la que recibió por correo.</div>

{% endblock %}

{% block section-widget %}
        <div class="portlet">
            <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
            <div class="portlet-content info-interes">
                <ul> 
        <li class="tip">Un ticket es un enlace temporal a la previsualizaci&oacute;n de la producci&oacute;n para su aprobaci&oacute;n e introducci&oacute;n de los datos descriptivos.<br/><br/>Los tickets tienen una caducidad establecida, una vez pasado ese tiempo, si no ha sido atendido deber&aacute; solicitar la generaci&oacute;n de un nuevo ticket al personal t&eacute;cnico.</li>
                </ul>
            </div>
        </div>

{% endblock %}
