{% extends "section-info-produccion.html" %}

{% block current-resumen %} disabled {% endblock %}
{% block section-content %}
<div class="box-body">
    <div class="row">
    {% if v.status != "INC" and v.status != "DEF" and v.status != "PRV" %}
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <video width="480" height="270" controls>
                <source src="{% url 'stream_video' v.id %}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="col-md-3"></div>
    {% else %}
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i>
                ¡Alerta!
            </h4>
            Previsualizaci&oacute;n no disponible, revise el <a href="{% url 'enproceso' %}">listado de producciones en proceso</a>
        </div>
    {% endif %}
    </div>
    <div style="padding:10px;"> </div>
    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Informaci&oacute;n b&aacute;sica de la producci&oacute;n</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Autor</th>
                            <th>Fecha</th>
                            <th>Operador</th>
                            <th>T&iacute;tulo</th>
                            <th>Observaci&oacute;n</th>
                            <th>OA</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ v.autor }}<br/>(<a href="mailto:{{v.email}}">{{ v.email }}</a>)</td>
                                <td>
                                    {{ v.informeproduccion.fecha_grabacion|date:"G:i:s - d/m/Y" }} - Grabaci&oacute;n
                                    <br>{{ v.informeproduccion.fecha_produccion|date:"G:i:s - d/m/Y" }} - Producci&oacute;n
                                    {% if v.informeproduccion.fecha_validacion %}
                                    <br>{{ v.informeproduccion.fecha_validacion|date:"G:i:s - d/m/Y" }} - Validaci&oacute;n
                                    {% endif%}
                                </td>
                                <td>{{ v.informeproduccion.operador }}</td>
                                <td>{{ v.titulo }}</td>
                                <td>{{ v.informeproduccion.observacion }}</td>
                                <td><i class="icon {{ v.objecto_aprendizaje|yesno:'fa fa-check,fa fa-ban' }}" style="{{ v.objecto_aprendizaje|yesno:'color:green,color:red'}}"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Histórico de incidencias</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {% if v.informeproduccion.incidenciaproduccion_set.all %}
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Emisor</th>
                            <th>Fecha</th>
                            <th>Aceptado</th>
                            <th>Comentario</th>
                        </thead>
                        <tbody>
                            {% for inci in v.informeproduccion.incidenciaproduccion_set.all|dictsort:"fecha" %}
                                <tr>
                                    <td>{% if inci.emisor %}{{ inci.emisor }}{% else %}{{ v.autor }}{% endif %}</td>
                                    <td>{{ inci.fecha|date:"G:i:s - d/m/Y" }}</td>
                                    <td><i class="icon {% if not inci.emisor %}{{ inci.aceptado|yesno:'fa fa-check,fa fa-ban' }}{% endif %}" style="{% if not inci.emisor %}{{ inci.aceptado|yesno:'color:green,color:red' }}{% endif %}"></i></td>
                                    <td>{% if inci.comentario %}{{ inci.comentario }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="alert alert-info alert-dismissible">
                    <i class="icon fa fa-info"></i>
                    El hist&oacute;rico de incidencias esta vac&iacute;o.
                </div>
                {% endif%}
            </div>
        </div>
    </div>

{% if v.registropublicacion_set.all %}
    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Hist&oacute;rico de publicaci&oacute;n</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Acciones</th>
                            <th>Fecha</th>
                            <th>Enlace</th>
                        </thead>
                        <tbody>
                        {% for pub in v.registropublicacion_set.all %}
                            <!-- Dialogo notificar -->
                            <div class="modal modal-warning fade" id="dialogNotificar{{pub.id}}" tabindex="-1" role="dialog" aria-labelledby="labelNotificar{{pub.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="labelNotificar{{pub.id}}">¿Notificar publicaci&oacute;n de la producci&oacute;n?</h4>
                                        </div>
                                        <div class="modal-body">
                                            Pulse en notificar para enviar un mensaje al autor de la producci&oacute;n que esta ha sido publicada.
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" href="{% url 'notificar_publicacion' pub.id %}" class="btn btn-outline pull-left">Notificar</a>
                                            <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Dialogo borrar -->
                            <div class="modal modal-warning fade" id="dialogBorrar{{pub.id}}" tabindex="-1" role="dialog" aria-labelledby="labelBorrar{{pub.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="labelBorrar{{pub.id}}">¿Borrar entrada del hist&oacute;rico de publicaci&oacute;n?</h4>
                                        </div>
                                        <div class="modal-body">
                                            Pulse en borrar para eliminar la entrada del hist&oacute;rico de publicaci&oacute;n de la producci&oacute;n.
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-outline pull-left" href="{% url 'borrar_registro' pub.id %}">Borrar</a>
                                            <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <tr>
                                <td>
                                    <button class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#dialogNotificar{{pub.id}}">
                                        <i class="icon fa fa-warning"></i>
                                            Notificar
                                    </button>
                                    <button class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#dialogBorrar{{pub.id}}">
                                        <i class="icon fa fa-warning"></i>
                                            Borrar
                                    </button>
                                </td>
                                <td>
                                    {{ pub.fecha|date:"G:i:s - d/m/Y" }}
                                </td>
                                <td>
                                    <a class="enlace" href="{{ pub.enlace }}" target="_blank"><i class="icon fa fa-youtube-play"></i>{{ pub.enlace }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endif %}

    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Histórico de codificaci&oacute;n</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                {% if v.informeproduccion.historicocodificacion_set.all %}
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </thead>
                        <tbody>
                            {% for hist in v.informeproduccion.historicocodificacion_set.all %}
                                <tr>
                                    <td>{{ hist.get_tipo_display }}</td>
                                    <td>{{ hist.fecha|date:"G:i:s - d/m/Y" }}</td>
                                    <td><i class="icon {{ hist.status|yesno:'fa fa-check,fa fa-ban' }}" style="{{ hist.status|yesno:'color:green,color:red' }}"></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="alert alert-warning alert-dismissible">
                    <h4>
                        <i class="icon fa fa-warning"></i>
                        ¡Alerta!
                    </h4>
                    El hist&oacute;rico de codificaci&oacute;n no estar&aacute; disponible hasta que la producci&oacute;n haya sido validada.<br/><br/><a href="{% url 'cola' %}">Pulse aqu&iacute; para acceder a la cola de procesamiento del centro de monitorizaci&oacute;n</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block section-widget2 %}
{% endblock %}
