{% extends "base-2-1-public.html" %}

{% block page-title %}Validaci&oacute;n de una producci&oacute;n{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Validación de una producci&oacute;n</h1>{% endblock %}

{% block section-content %}

<div class="box-body">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <video width="480" height="270" controls>
                <source src="{% url 'stream_preview' token %}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div style="padding:10px;"> </div>
    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Rechazar producci&oacute;n</h3>
            </div>
            <div class="box-body">
                <form method="post" role="form">
                {% csrf_token %}
                {%for v in form%}
                <div class="form-group {% if v.errors %} has-error{% endif %}">
                    <label>
                        {% if v.errors %} <i class="fa fa-times-circle-o"></i> {% endif %}
                        {{ v.label }}:
                    </label>
                    {{ v}}
                    {% if v.errors %} <span class="help-block">Este campo es obligatorio.</span>{% endif %}
                </div>
                {%endfor%}
                <input class="btn btn-danger pull-right" type="submit" value="Rechazar producci&oacute;n" />
            </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Informaci&oacute;n b&aacute;sica de la producci&oacute;n</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <th>Autor</th>
                            <th>Fecha</th>
                            <th>Operador</th>
                            <th>T&iacute;tulo</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ v.autor }}<br/>(<a href="mailto:{{v.email}}">{{ v.email }}</a>)</td>
                                <td>
                                    {{ v.informeproduccion.fecha_produccion|date:"G:i:s - d/m/Y" }} - Producci&oacute;n
                                </td>
                                <td>{{ v.informeproduccion.operador }}</td>
                                <td>{{ v.titulo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <button class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#dialogAprobar">
                <i class="icon fa fa-check"></i>
                    Aceptar e introducir metadata
            </button>
        </div>
    </div>

    <!-- Dialogo aprobar produccion -->
    <div class="modal modal-success fade" id="dialogAprobar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Aprobar producci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    Aseg&uacute;rese de haber visualizado el v&iacute;deo por completo, tenga en cuenta que este paso supone la aceptaci&oacute;n <strong>definitiva</strong> de la producci&oacute;n.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'definir_metadatos_user' token %}" class="btn btn-outline pull-left">Aprobar</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i style="font-size: 150%;" class="fa fa-fw fa-info"></i></td>
                        <td>Ha decicido rechazar la producci&oacute;n, antes de continuar exponga con detalle los motivos de tal acci&oacute;n para que el operador responsable pueda evaluarlos y actuar en consecuencia.<br/><br/>Si tiene cualquier duda o sugerencia no dude en ponerse en contacto con el operador responsable de la producci&oacute;n.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

