{% extends "base-2-1.html" %}

{% block page-title %}Videoteca{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Videoteca</h1>{% endblock %}
{% block section-description %}<h2>Estad&iacute;sticas</h2>{% endblock %}

{% block section-content %} 
{% endblock %}

{% block section-widget %}
    <div class="portlet">
        <div class="portlet-header">Opciones de la videoteca</div>
        <div class="portlet-content">
            <ul> 
                <li><a class="link" href="{% url 'videoteca' %}">Producciones</a></li>
                <li><a class="link" href="{% url 'estadisticas' %}">Estad&iacute;sticas</a></li>
            </ul>
        </div>
    </div>

    <div class="portlet">
        <div class="portlet-header">Acciones disponibles</div>
        <div class="portlet-content">
            <ul>
                <li><a class="imprimir" href="{% url 'estadisticas' %}">Imprimir</a></li>
            </ul>
        </div>
    </div>

    <div class="portlet">
        <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
        <div class="portlet-content info-interes">
            <ul> 
                <li class="tip">Mostrar informaci&oacute;n acerca de las producciones realizadas.</li>
            </ul>
        </div>
    </div>
{% endblock %}
