{% extends "base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}

{% block section-content %}

{% if list %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Producciones en proceso</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <form method="post" action="{% url 'regenerar_tickets' %}" class="form-nueva" id="formgenerarticket" name="formgenerarticket">
            {% csrf_token %}
            <div class="box-body">
                <table class="table table-bordered table-strped dataTable">
                  <thead>
                    <th><input type="checkbox" class="marcar-todo" name="tickets" value=""></th>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Operador</th>
                    <th>Fecha</th>
                    <th>Responsable</th>
                    <th>T&iacute;tulo</th>
                  </thead>
                  <tbody>
                    {% for video in list %}
                    <tr>
                        <td><input type="checkbox" class="checkbox-ticket" name="ticket" value="{{video.id}}" id="{{video.id}}"></td>
                        <td>{{ video.id }}</td>
                        {% if video.status == 'Aceptado' %}
                            <td><span class="label label-success">{{ video.status }}</span></td>
                        {% elif video.status == 'Pendiente del usuario' or video.status == 'Definido'%}
                            <td><span class="label label-warning">{{ video.status }}</span></td>
                        {% else %}
                            <td><span class="label label-danger">{{ video.status }}</span></td>
                        {% endif %}
                        <td>{{ video.operador }}</td>
                        <td>{{ video.fecha }}</td>
                        <td>{{ video.responsable }}</td>
                        <td>
                        {% if video.status == 'Incompleto' %}
                            <a href="{% url 'crear' video.id %}">{{ video.titulo }}</a>
                        {% else %}
                            <a href="{% url 'estado_video' video.id %}">{{ video.titulo }}</a>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <input class="btn btn-primary" type="submit" id="generar-ticket" value="Generar ticket"/>
            </div>
        </form>
    </div>
{% else %}
    <div class="alert alert-info alert-dismissible">
        <h4>
            <i class="icon fa fa-info"></i>
            Información
        </h4>
        No se ha encontrado ninguna producci&oacute;n siendo procesada.
    </div>
{% endif %}
{% endblock %}

{% block filter-widget %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Filtrar por operador:</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                {% for usuario in usuarios %}
                    <tr><td><a href="/postproduccion/enproceso/?operator_id={{ usuario.id }}">{{ usuario.username }}</a></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block section-widget %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Producciones que actualmente est&aacute;n siendo procesadas en el sistema en cualquiera de los estados en el que se encuentre.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
