{% extends "base-2-1.html" %}

{% block page-title %}Nueva producci&oacute;n, paso 1{% endblock %}
{% block section-class %}class = "formulario paso1" {% endblock %}
{% block section-description %} {% endblock %}

{% block section-content %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Nueva producci&oacute;n, paso 1: Informaci&oacute;n b&aacute;sica</h3>
        </div>
        <div class="box-body">
            <form method="post" role="form">
                {% csrf_token %}
                {%for v in vform%}
                <div class="form-group {% if v.errors %} has-error{% endif %}">
                    <label>
                        {% if v.errors %} <i class="fa fa-times-circle-o"></i> {% endif %}
                        {{ v.label }}:
                    </label>
                    {{ v}}
                    {% if v.errors %} <span class="help-block">Este campo es obligatorio.</span>{% endif %}
                </div>
                {%endfor%}
                {%for i in iform%}
                <div class="form-group">
                    <label>{{ i.label }}:</label>
                    {%if i.label == 'Fecha grabacion'%}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar">
                            </i>
                        </div>
                        {{ i }}
                    </div>
                    {%else%}
                    {{i}}
                    {%endif%}
                </div>
                {%endfor%}
                <input class="btn btn-default" type="reset" value="Restaurar formulario" />
                <input class="btn btn-primary pull-right" type="submit" value="Siguiente paso" />
            </form>
        </div>
    </div>
{% endblock %}

{% block section-widget %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Paso 1 de 3: Informaci&oacute;n b&aacute;sica</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Se debe incluir la informaci&oacute;n de la manera m&aacute;s precisa posible. Estos datos ser&aacute;n de utilidad &uacute;nicamente para documentar el proceso de producci&oacute;n.</td>
                    </tr>
                <tr>
                    <div id="progreso" class="uno"></div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if vform.initial.id %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <button class="btn btn-block btn-danger btn-sm" data-toggle="modal" data-target="#dialogEliminar">
                <i class="icon fa fa-ban"></i>
                    Eliminar producci&oacute;n
            </button>
        </div>
    </div>

    <!-- Dialogo eliminar produccion -->
    <div class="modal modal-danger fade" id="dialogEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Eliminar producci&oacute;n?</h4>
                </div>
                <div class="modal-body">
                    La producción será eliminada de forma permanente y no podrá ser recuperada.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'borrar' vform.initial.id %}" class="btn btn-outline pull-left">Eliminar</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
