{% extends "base-2-1.html" %}

{% block page-title %}Nueva producci&oacute;n, paso 3{% endblock %}
{% block section-class %}class = "formulario paso3" {% endblock %}
{% block section-description %} {% endblock %}

{% block section-content %}
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Nueva producci&oacute;n, paso 3: Revisar y validar la nueva producci&oacute;n</h3>
    </div>
    <div class="box-body">
        <form method="post" role="form">
            <div class="box-group" id="accordion1">
                <div class="panel box box-solid box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#datos">
                                Datos de la nueva producci&oacute;n:
                            </a>
                        </h4>
                    </div>
                    <div id="datos" class="panel-collapse collapse in">
                        <div class="box-body">
                            {% if v.plantilla %}
                                <div class="form-group">
                                    <label>Plantilla:</label>
                                    <input class="form-control" type="text" value="{{ v.plantilla.nombre }}" disabled="">
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label>T&iacute;tulo:</label>
                                <input class="form-control" type="text" value="{{ v.titulo }}" disabled="">
                            </div>
                            <div class="form-group">
                                <label>Autor:</label>
                                <input class="form-control" type="text" value="{{ v.autor }}" disabled="">
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input class="form-control" type="text" value="{{ v.email }}" disabled="">
                            </div>
                            <div class="form-group">
                                <label>Tipo Producci&oacute;n:</label>
                                <input class="form-control" type="text" value="{{ v.tipoVideo }}" disabled="">
                            </div>
                            <div class="form-group">
                                <label>Objeto de aprendizaje:</label>
                                <div>
                                    <input type="checkbox" {{ v.objecto_aprendizaje|yesno:"checked," }} disabled="">
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Observaci&oacute;n</label>
                                <textarea class="form-control" cols="40" rows="5" disabled="">{{ v.informeproduccion.observacion }}</textarea>
                            </div>
                            <div class="form-group">
                                <label>Requiere aprobaci&oacute;n</label>
                                <div>
                                    <input type="checkbox" {{ v.informeproduccion.aprobacion|yesno:"checked," }} disabled="">
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Fecha de grabaci&oacute;n:</label>
                                <input class="form-control" type="text" value="{{ v.informeproduccion.fecha_grabacion|date:"G:i:s - d/m/Y" }}"  disabled="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-group" id="accordion2">
                <div class="panel box box-solid box-primary">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#ficheroEntrada">
                                Fichero(s) de entrada:
                            </a>
                        </h4>
                    </div>
                    <div id="ficheroEntrada" class="panel-collapse collapse in">
                        <div class="box-body">
                            {% for f in v.ficheroentrada_set.all %}
                                {% if v.plantilla %}
                                    <label>{{ f.tipo.nombre }}</label>
                                {% else %}
                                    <label>Entrada</label>
                                {% endif %}
                                <input class="form-control" type="text" value="{{ f.fichero }}" disabled=""><br/><br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% csrf_token %}
            <a type="button" href="{% url 'postproduccion.views.crear' v.id %}" class="btn btn-primary pull-left" id="volver">Modificar</a>
            <input class="btn btn-primary pull-right" type="submit" value="Terminar y procesar" />
        </form>
    </div>
</div>

{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Paso 3 de 3: Revisar y validar</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Revisar detenidamente el contenido de la producci&oacute;n antes de continuar. Recuerde que una vez terminado el proceso de "nueva producci&oacute;n" el sistema incluir&aacute; en la cola de procesamiento del sistema la producci&oacute;n por lo que esta puede tardar en ser procesada.</td>
                    </tr>
                <tr>
                    <div id="progreso" class="tres"></div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <button class="btn btn-block btn-danger btn-sm" data-toggle="modal" data-target="#dialogEliminar">
                <i class="icon fa fa-ban"></i>
                    Eliminar producci&oacute;n
            </button>
        </div>
    </div>

    <!-- Dialogo eliminar produccion -->
    <div class="modal modal-danger fade" id="dialogEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Eliminar producci&oacute;n?</h4>
                </div>
                <div class="modal-body">
                    La producción será eliminada de forma permanente y no podrá ser recuperada.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'borrar' v.id %}" class="btn btn-outline pull-left">Eliminar</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
