{% extends "base-2-1-public.html" %}

{% block page-title %}Solicitud de reserva para grabaci&oacute;n{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Solicitud de reserva para grabaci&oacute;n</h1>{% endblock %}

{% block section-content %}
<div>
<ul>
    <li>Solicitante: {{ solicitud.nombre }}</li>
    <li>Correo: {{ solicitud.email }}</li>
    <li>Fecha: {{ solicitud.fecha_reserva }}</li>
</ul></div>
<div class="mensaje info">
    Reserva realizada correctamente.
</div>
{% endblock %}
