{% extends "base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}

{% block section-content %}
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cola de publicaci&oacute;n</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="table-responsive" id="contenedor">
            <span class="ajax-loader"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block section-widget %}
     <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <button class="btn btn-block btn-danger btn-sm" data-toggle="modal" data-target="#dialogEliminar">
                <i class="icon fa fa-ban"></i>
                    Purgar cola de publicaci&oacute;n
            </button>
        </div>
    </div>

    <!-- Dialogo eliminar produccion -->
    <div class="modal modal-danger fade" id="dialogEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">¿Pugar cola de publicaci&oacute;n?</h4>
                </div>
                <div class="modal-body">
                    La informaci&oacute;n de la cola de publicaci&oacute;n ser&aacute; purgada y no podr&aacute; ser recuperada.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'purgar_publicaciones' %}" class="btn btn-outline pull-left">Purgar</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info"></i></td>
                        <td>Listado de producciones pendientes de publicar en sistemas externos de publicaci&oacute;n.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page-script %}
    <script type="text/javascript">

        function refrescar() {
            $.get('{% url 'contenido_cola_publicacion' %}', function(data) {
								$("#contenedor").html(data);
            }).complete(function() { setTimeout("refrescar();", 1000); });

        }

        $(document).ready( function() {
            refrescar();
        });

    </script>
{% endblock %}
