{% if list %}
<table class="table no-margin">
  <thead>
    <th>ID</th>
    <th>Estado</th>
    <th>Operador</th>
    <th>Fecha</th>
    <th>T&iacute;tulo</th>
  </thead>
  <tbody>
    {% for video in list %}
    <tr>
        <td>{{ video.id }}</td>
        {% if video.status == 'Aceptado' %}
            <td><span class="label label-success">{{ video.status }}</span></td>
        {% else %}
            <td><span class="label label-danger">{{ video.status }}</span></td>
        {% endif %}
        <td>{{ video.operador }}</td>
        <td>{{ video.fecha }}</td>
        <td><a href="{% url 'estado_video' video.id %}">{{ video.titulo }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <div class="mensaje info">No hay ning&uacute;n elemento que mostrar.</div></td>
{% endif %}

