{% extends "postproduccion/base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}
{% block section-description %}<h2>Cola de publicaci&oacute;n</h2>{% endblock %}

{% block section-content %}
<div id="contenedor"><span class="ajax-loader"></span></div>
{% endblock %}

{% block section-widget %}
     <div class="portlet">
        <div class="portlet-header">Acciones disponibles</div>
        <div class="portlet-content">
            <ul>
                <li>
                    <div id="dialog-eliminar" title="¿Pugar cola de publicaci&oacute;n?">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>La informaci&oacute;n de la cola de publicaci&oacute;n ser&aacute; purgada y no podr&aacute; ser recuperada.</p>
                    </div>
                <a class="eliminar" href="{% url purgar_publicaciones %}">Purgar cola de publicaci&oacute;n</a></li>
            </ul>
        </div>
    </div>

            <div class="portlet">
                <div class="portlet-header">Informaci&oacute;n de inter&eacute;s</div>
                <div class="portlet-content info-interes">
                    <ul>
                        <li class="tip">Listado de producciones pendientes de publicar en sistemas externos de publicaci&oacute;n.</li>
                    </ul>
                </div>
            </div>
{% endblock %}

{% block page-script %}
    <script type="text/javascript">

        function refrescar() {
            $.get('{% url contenido_cola_publicacion %}', function(data) {
								$("#contenedor").html(data);
            }).complete(function() { setTimeout("refrescar();", 1000); });

        }

        $(document).ready( function() {
            refrescar();
        });

    </script>
{% endblock %}
