{% extends "postproduccion/base.html" %}

{% block content %}

<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a class="logo" title="Ir a Inicio" href="{% url 'index' %}">dpCat</a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Hola, {{ user }} |</span>
              <i class="fa fa-gears"></i>
            </a>
            <ul class="dropdown-menu">
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'config' %}" class="btn btn-default btn-flat">Configuraci&oacute;n</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'django.contrib.auth.views.logout' %}" class="btn btn-default btn-flat">Cerrar sesi&oacute;n</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- search form (Optional) -->
      <!--<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>-->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Men&uacute;</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="{% url 'index' %}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
        <li><a href="{% url 'videoteca' %}"><i class="fa fa-database"></i> <span>Videoteca</span></a></li>
        <li><a href="{% url 'enproceso' %}"><i class="fa fa-laptop"></i> <span>Centro de monitorizaci&oacute;n</span></a></li>
        <li><a href="{% url 'nueva' %}"><i class="fa fa-video-camera"></i> <span>Nueva producci&oacute;n</span></a></li>
        <!--<li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>-->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% block section-title %} {% endblock %}
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}danger{%else%}{{ message.tags }}{%endif%} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <i class="icon fa fa-{%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}ban{%elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}warning{%else%}check{%endif%}"></i>{{ message }}
            </div>
          {% endfor %}
      {% endif %}

      {% block contenido %} {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a href="{% url 'status' %}">Versi&oacute;n</a>
    </div>
    <!-- Default to the left -->
    <strong><a href="http://www.dpcat.es" target="_blank">dpCat &copy; 2012</a> </strong>
  </footer>

</div>

{% endblock %}
