{% extends "postproduccion/base.html" %}

{% block body-class %}login{% endblock %}
{% block page-title %}Acceso al sistema{% endblock %}

{% block content %}
<!--Falta añadir la clase form-control al input que genera el form -->
<div class="col-md-4 col-md-offset-4 mt80">
    <h1 id="h1dp">dpCat</h1>
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acceso al sistema</h3>
        </div>
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    {% endif %}
                    <div class="form-group {%if form.username.errors%}has-error{% endif %}">
                        <label>
                            {% if form.username.errors %} <i class="fa fa-times-circle-o"></i> {% endif %}
                            {{ form.username.label }}:
                        </label>
                        {{ form.username}}
                        {% if form.username.errors %} <span class="help-block">Usuario incorrecto.</span>{% endif %}
                    </div>
                    <div class="form-group {%if form.password.errors or form.non_field_errors%}has-error{% endif %}">
                        <label>
                            {% if form.password.errors or form.non_field_errors%} <i class="fa fa-times-circle-o"></i> {% endif %}
                            {{ form.password.label }}:
                        </label>
                        {{ form.password }}
                        {% if form.password.errors or form.non_field_errors%} <span class="help-block">Contraseña incorrecta.</span>{% endif %}
                    </div>
                    <input class="btn btn-primary pull-right" type="submit" value="Acceder" />
                    <input class="btn btn-primary pull-right" type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
            <div class="box-footer">
               <a href="#">dpCat &copy; 2012</a></li>
            </div>
    </div>
</div>
{% endblock %}
