{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Informe de producci&oacute;n{% endblock %}
{% block section-class %} class="informe-video"{% endblock %}
{% block section-title %}<h1>Informe de la producci&oacute;n: {{v.titulo}}</h1>{% endblock %}

{% block section-description %}

    <div class="box-body">
        <div class="col-md-3">
            <a class="btn btn-block btn-primary btn-sm {% block current-resumen %} {% endblock %}" href="{% url 'estado_video' v.id %}">
                <i class="icon fa fa-question-circle"></i>
                Resumen de producci&oacute;n
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-primary btn-sm {% block current-metadata %}{% endblock %}" href="{% url 'definir_metadatos_oper' v.id %}">
                <i class="icon fa fa-clipboard"></i>
                Metadata
            </a>
        </div>
        {% if v.status != 'LIS' %}
        <div class="col-md-3">
            <a class="btn btn-block btn-primary btn-sm {% block current-ticket %} {% endblock %}" href="{% url 'gestion_tickets' v.id %}">
                <i class="icon fa fa-exchange"></i>
                Gesti&oacute;n de ticket
            </a>
        </div>
        {% endif %}
        {% if v.status != 'LIS' %}
        <div class="col-md-3">
            <a class="btn btn-block btn-primary btn-sm {% block current-editar %} {% endblock %}" href="{% url 'editar' v.id %}">
                <i class="icon fa fa-pencil"></i>
                Editar
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Estado actual de la producci&oacute;n</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="btn-block btn-sm" style="background:#00c0ef; color: white; text-align: center;">
                {% if pub %}
                    Publicado
                {% else %}
                    {{ v.get_status_display }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            {% if not pub and v.status == 'LIS' %}
            <a type="button" href="{% url 'publicar' v.id %}" class="btn btn-block btn-success btn-sm">
                <i class="icon fa fa-youtube-play"></i>
                    Publicar producci&oacute;n
            </a>
            {% endif %}
            {% if v.status == 'ACE' or v.status == 'PTO' %}
            <button class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#dialogValidar">
                <i class="icon fa fa-check"></i>
                    Validar producci&oacute;n
            </button>
            {% endif %}
            <button class="btn btn-block btn-danger btn-sm" data-toggle="modal" data-target="#dialogEliminar">
                <i class="icon fa fa-ban"></i>
                    Eliminar producci&oacute;n
            </button>
            {% if v.status != 'LIS' %}
            <button class="btn btn-block btn-warning btn-sm" data-toggle="modal" data-target="#dialogReemplazar">
                <i class="icon fa fa-repeat"></i>
                Reemplazar v&iacute;deo
            </button>
            {% endif %}
            {% if v.status != "INC" and v.status != "DEF" and v.status != "PRV" %}
            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'download_video' v.id %}">
                <i class="icon fa fa-link"></i>
                    Descargar video
            </a>
            {% endif %}
        </div>
    </div>

    <!-- Dialogo eliminar produccion -->
    <div class="modal modal-danger fade" id="dialogEliminar" tabindex="-1" role="dialog" aria-labelledby="labelEliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="labelEliminar">¿Eliminar producci&oacute;n?</h4>
                </div>
                <div class="modal-body">
                    La producción será eliminada de forma permanente y no podrá ser recuperada.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'borrar' v.id %}" class="btn btn-outline pull-left">Eliminar</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dialogo validar produccion -->
    <div class="modal modal-warning fade" id="dialogValidar" tabindex="-1" role="dialog" aria-labelledby="labelValidar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="labelValidar">¿Validar producci&oacute;n?</h4>
                </div>
                <div class="modal-body">
                    Revise todos los datos de la producción antes de continuar, este proceso es irreversible.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'validar_produccion' v.id %}" class="btn btn-outline pull-left">Validar producci&oacute;n</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dialogo validar produccion -->
    <div class="modal modal-warning fade" id="dialogReemplazar" tabindex="-1" role="dialog" aria-labelledby="labelReemplazar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="labelValidar">¿Reemplazar v&iacute;deo?</h4>
                </div>
                <div class="modal-body">
                    El vídeo actual será sustituido por uno nuevo y no podrá ser recuperado.
                </div>
                <div class="modal-footer">
                    <a type="button" href="{% url 'reemplazar_video' v.id %}" class="btn btn-outline pull-left">Reemplazar v&iacute;deo</a>
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>    
    {% block section-widget2 %}{% endblock %}
{% endblock %}
