{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Videoteca{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Videoteca</h1>{% endblock %}

{% block section-content %} 

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Estad&iacute;sticas</h3>
        </div>
        <div class="box-body">
            <table id="table_stats" class="table table-bordered table-hover dataTable">
                <thead>
                    <th>Propiedad</th>
                    <th>Cantidad</th>
                    <th>Tiempo de grabaci&oacute;n</th>
                </thead>
                <tbody>
                {% if stats.0.1 %}
                    {% for element in stats %}
                        <tr>
                            <td>{{ element.0 }}</td>
                            <td>{{ element.1 }}</td>
                            <td>{{ element.2 }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <div class="row">
                <div id="prodCol" class="col-md-6">
                <canvas id="prodChart"></canvas>
            </div>
            <div id="valCol" class="col-md-6">
                <canvas id="valChart"></canvas>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block section-widget %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Opciones de la videoteca</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'videoteca' %}">
                                <i class="icon fa fa-video-camera"></i>
                                Producciones
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'colecciones' %}">
                                <i class="icon fa fa-folder"></i>
                                Colecciones
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'estadisticas' %}">
                                <i class="icon fa fa-area-chart"></i>
                                Estad&iacute;sticas
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Personalizar resultados</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <form method="GET">
            <div class="box-body">
                <div class="form-group">
                    <label>Intervalo de tiempo:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">Inicio
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="from" name="f_ini" value="{{ request.GET.f_ini }}">
                        <div class="input-group-addon">Fin
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="to" name="f_fin" value="{{ request.GET.f_fin }}">
                    </div>
                </div>
                <a class="btn btn-default" href="{% url 'estadisticas' %}">Reiniciar</a>
                <input class="btn btn-primary pull-right" type="submit" value="Filtrar" />
            </div>
        </form>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Acciones disponibles</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <a type="button" class="btn btn-block btn-default btn-sm" onclick="imprimir('#left')">
                <i class="icon fa fa-print"></i>
                    Imprimir
            </a>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Mostrar informaci&oacute;n acerca de las producciones realizadas.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page-script %}
<script type="text/javascript">
function imprimir(data) {
    // Escribir información
    var mywindow = window.open('', 'dpCat', 'height=400,width=600');
    mywindow.document.write('<html><head><title>dpCat Estad&iacute;sticas</title>');
    mywindow.document.write('<link rel="stylesheet" href="/static/css/bootstrap.min.css" />');
    mywindow.document.write('</head><body>');
    mywindow.document.write($(data).html());
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // IE >= 10
    mywindow.focus(); // IE >= 10

    // Imprimir
    mywindow.print();
    mywindow.close();

    return true;
}
$(function(){
    //-------------
    //- Producciones/pildoras -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#prodChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);
    var PieData = [
      {
        value: {{ stats.2.1}},
        color: "#00a65a",
        highlight: "#00a65a",
        label: "{{ stats.2.0}}"
      },
      {
        value: {{ stats.3.1}},
        color: "#3c8dbc",
        highlight: "#3c8dbc",
        label: "{{ stats.3.0}}"
      }
    ];
    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //String - A legend template
      legendTemplate: "<div class=\"row\"><div class=\"col-md-12\"><i class=\"fa fa-circle\" style=\"color: #00a65a;\"></i> {{ stats.2.0}}</div></div><div class=\"row\"><div class=\"col-md-12\"><i class=\"fa fa-circle\" style=\"color: #3c8dbc;\"></i> {{ stats.3.0}}</div></div>"
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var prodC = pieChart.Doughnut(PieData, pieOptions);
    var legend = prodC.generateLegend();
    $('#prodCol').append(legend);

    //-------------
    //- Realizadas/validadas -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $("#valChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas);
    var novalidadas = {{ stats.0.1 }} - {{ stats.1.1}}
    var PieData = [
      {
        value: {{ stats.1.1}},
        color: "#3c8dbc",
        highlight: "#3c8dbc",
        label: "{{ stats.1.0}}"
      },
      {
        value: novalidadas,
        color: "#f56954",
        highlight: "#f56954",
        label: "Producciones no validadas"
      }
    ];
    var pieOptions = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke: true,
      //String - The colour of each segment stroke
      segmentStrokeColor: "#fff",
      //Number - The width of each segment stroke
      segmentStrokeWidth: 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps: 100,
      //String - Animation easing effect
      animationEasing: "easeOutBounce",
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate: true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale: false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive: true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio: true,
      //String - A legend template
      legendTemplate: "<div class=\"row\"><div class=\"col-md-12\"><i class=\"fa fa-circle\" style=\"color: #3c8dbc;\"></i> {{ stats.1.0 }}</div></div><div class=\"row\"><div class=\"col-md-12\"><i class=\"fa fa-circle\" style=\"color: #f56954;\"></i> Producciones no validadas</div></div>"
    };
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var valC = pieChart.Doughnut(PieData, pieOptions);
    var legend = valC.generateLegend();
    $('#valCol').append(legend);
});
</script>
{% endblock %}
