{% extends "postproduccion/section-info-produccion.html" %}

{% block current-metadata %} disabled {% endblock %}

{% block section-content %}
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Metadata principal</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <form method="post" role="form">
                {% csrf_token %}
                {%for campo in form%}
                <div class="form-group">
                    <label>{{ campo.label }}:</label>
                    {{ campo}}
                    <p class="text-muted">{{ campo.help_text}}</p>
                </div>
                {%endfor%}
                <input class="btn btn-primary pull-right" type="submit" value="Guardar" />
            </form>
        </div>
    </div>

{% endblock %}

{% block section-widget2 %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Tipo de metadata</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><a class="link" href="{% url 'definir_metadatos_oper' v.id %}">Metadata principal</a></td>
                    </tr>
                    <tr>
                        <td><a class="link" href="{% url 'media_info' v.id %}">Metadata t&eacute;cnica</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Revise y valide el contenido de los metadatos antes de continuar.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
