{% extends "postproduccion/base-2-1.html" %}

{% block page-title %}Videoteca{% endblock %}
{% block section-class %} {% endblock %}
{% block section-description %}{% endblock %}

{% block section-content %} 
{% load append_to_get %}


<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Videoteca: {{box_header}}</h3>
    </div>
    <div class="box-body">
        <table id="table_videoteca" class="table table-bordered table-hover dataTable">
            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Autor/Responsable</th>
                    <th>T&iacute;tulo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
            {% if videos %}
                {% for video in videos %}
                <tr role="row">
                    <td>{{ video.id }}</td>
                    <td>{{ video.informeproduccion.fecha_validacion|date:"d/m/Y" }}</td>
                    <td>{{ video.autor }}</td>
                    <td><a href="{% url 'estado_video' video.id %}">{{ video.titulo }}</a></td>
                    {% if video.id in pub %}
                        <td><span class="label label-success">Publicado</span></td>
                    {% else %}
                        <td><span class="label label-warning">Listo</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Opciones de la videoteca</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'videoteca' %}">
                                <i class="icon fa fa-video-camera"></i>
                                Producciones
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'colecciones' %}">
                                <i class="icon fa fa-folder"></i>
                                Colecciones
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-block btn-default btn-sm" href="{% url 'estadisticas' %}">
                                <i class="icon fa fa-area-chart"></i>
                                Estad&iacute;sticas
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Personalizar resultados</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <form method="GET">
            <div class="box-body">
                <!-- Produccion -->

                <div class="btn-block btn-sm" style="background:#3c8dbc; color: white; text-align: center; margin-bottom: 5px;">Producci&oacute;n</div>
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" name="id" id="id" value="{{ request.GET.id }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>T&iacute;tulo:</label>
                    <input type="text" name="titulo" id="titulo" value="{{ request.GET.titulo }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Autor:</label>
                    <input type="text" name="autor" id="autor" value="{{ request.GET.autor }}" class="form-control">
                </div>

                <div class="form-group">
                    <label>Tipo:</label>
                    <select class="form-control select2" id="tipoVideo" name="tipoVideo">
                        {% for value, name in tipoVideo %}
                            <option value="{{value}}">{{name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Colecci&oacute;n:</label>
                    <select class="form-control select2" id="coleccion" name="coleccion">
                        <option value="0">Sin definir</option>
                        {% for c in colecciones %}
                            <option value="{{c.id}}">{{c.titulo}}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Metadatos -->

                <div class="btn-block btn-sm" style="background:#3c8dbc; color: white; text-align: center; margin-bottom: 5px;">Metadatos</div>
                <div class="form-group">
                    <label>T&iacute;tulo:</label>
                    <input type="text" name="meta_titulo" id="meta_titulo" value="{{ request.GET.meta_titulo }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Autor:</label>
                    <input type="text" name="meta_autor" id="meta_autor" value="{{ request.GET.meta_autor }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Descripci&oacute;n:</label>
                    <input type="text" name="meta_descripcion" id="meta_descripcion" value="{{ request.GET.meta_descripcion }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Etiqueta:</label>
                    <input type="text" name="meta_etiqueta" id="meta_etiqueta" value="{{ request.GET.meta_etiqueta }}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Intervalo de tiempo:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">Inicio
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="from" name="f_ini" value="{{ request.GET.f_ini }}">
                        <div class="input-group-addon">Fin
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="to" name="f_fin" value="{{ request.GET.f_fin }}">
                    </div>
                </div>
                <a class="btn btn-default" href="{% url 'videoteca' %}">Reiniciar</a>
                <input class="btn btn-primary pull-right" type="submit" value="Filtrar" />
            </div>
        </form>
    </div>

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>La videoteca contiene &uacute;nicamente las producciones que han sido validadas. Puede personalizar los resultados de b&uacute;squeda mediante la combinaci&oacute;n de filtros.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
