{% extends "postproduccion/base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}

{% block section-content %}

<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cola de procesamiento</h3>
    </div>
    <div class="box-body" id="contenedor">
        <span class="ajax-loader"></span>
    </div>
</div>
{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Esta pantalla se refresca cada segundo mostrando la informaci&oacute;n de la cola de procesamiento del sistema en tiempo real.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page-script %}
    <script type="text/javascript">
        function tablaBase() {
            str = '<table id="tabla_id" class="table table-bordered table-hover">';
            str += '<thead><th>ID</th><th>Informaci&oacute;n</th><th>Fecha</th><th>T&iacute;tulo</th><th>Log</th> </thead>';
            str += '<tbody></tbody>';
            str += '</table>';
            return str;
        }
        function creaLinea(data) {
            str = '<td>' + data['id'] + '</td>';
            str += '<td>Tipo: ' + data['tipo'] + '<br>';
            str += 'Estado: <span>' + data['status'] + '</span><br>';
            if (data['progress']) {
                str += '<div class="progress progress active">';
                str += '<div id="progressbar' + data['id'] + '" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"></div></div>';
            }
            str += '</td>';
            if (data['comienzo'] || data['fin']) {
                str += '<td>';
                if (data['comienzo']) {
                    str += data['comienzo'] + ' - Inicio<br>';
                }
                if (data['fin']) {                    
                   str += data['fin'] + ' - Fin';
                }
                str +='</td>';
            } else {
                str += '<td>&nbsp;</td>';
            }

            str += '<td><a href="' + data['v-url'] + '">' + data['v-titulo'] + '</a></td>';

            if (data['logurl']) {
                str += '<td><a href="' + data['logurl'] +'" target="_blank"><i class="icon fa fa-link"> ' + data['logfile'] +'</i></a></td>';
            } else {
                str += '<td>&nbsp;</td>';
            }
            return str;
        }

        function actualizaTabla(data) {
            if (data.length) {
                if (!$("#tabla_id").length)
                    $("#contenedor").html(tablaBase());
            } else {
                if (!$("#contenedor").find(".mensaje").length)
                    $("#contenedor").html('<div class="alert alert-info alert-dismissible"><i class="icon fa fa-info"></i>No hay ning&uacute;n trabajo en la cola de procesado.</div>');
            }

            var cont = 0;
            var filas = $("#tabla_id tbody").children();
            for (var i = 0; i < filas.length; i++) {
                // Borra la tarea si ya no está en la cola.
                if (cont >= data.length) {
                    $(filas[i]).remove();
                    continue;
                } else
                    if (filas[i].firstChild.textContent != data[cont]['id']) {
                        $(filas[i]).remove();
                        continue;
                    }
                // Actualiza el estado.
                if ($(filas[i]).find('span').html() != data[cont]['status'])
                    $(filas[i]).find('span').html(data[cont]['status']);
                // Actualiza la barra de progreso.
                if (data[cont]['progress']) {
                    if ($(filas[i]).find('div').length)
                        $(filas[i]).find('div.progressbartext').html(data[cont]['progress']+' %</div>');
                    else {
                        $($(filas[i]).find('li')[1]).append('<div class="progress progress active">');
                        $($(filas[i]).find('li')[1]).append('<div id="progressbar' + data['id'] + '" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"></div></div>');
                    }
                    $('#progressbar' + data[cont]['id']).css("width" , data[cont]['progress']+"%");
                } else
                    $(filas[i]).find('div').remove();
                // Actualiza las fechas de inicio y fin.
                if (data[cont]['comienzo'] && !$(filas[i]).find('td.date').find('li').length)
                    $(filas[i]).find('td.date').html('<ul><li>' + data[cont]['comienzo'] + ' - Inicio</li></ul>');
                if (data[cont]['fin'] && $(filas[i]).find('td.date').find('li').length < 2)
                    $(filas[i]).find('td.date').find('ul').append('<li>' + data[cont]['fin'] + ' - Fin</li>');
                // Actualiza el fichero de log.
                if (data[cont]['logurl'] && !$(filas[i]).find('a.chain').length)
                    $(filas[i]).find('td.log').html('<a class="chain" href="' + data[cont]['logurl'] +'" target="_blank">' + data[cont]['logfile'] +'</a></td>');
            cont++;
            }
            // Crea los nuevos elementos insertados al final de la cola.
            for (;cont < data.length; cont++) {
                $("#tabla_id tbody").prepend('<tr>' + creaLinea(data[cont]) + '</tr>');
                $('#progressbar' + data[cont]['id']).css("width" , data[cont]['progress']+"%");
            }
        }

        function refrescar() {
            $.getJSON('/postproduccion/cola_listado/', function(data) {
                actualizaTabla(data);
            }).complete(function() { setTimeout("refrescar();", 1000); });

        }

        $(document).ready( function() {
            refrescar();
        });

    </script>

{% endblock %}

