{% extends "postproduccion/base-2-1-monitor.html" %}

{% block page-title %}Centro de monitorizaci&oacute;n{% endblock %}
{% block section-class %} {% endblock %}
{% block section-title %}<h1>Centro de monitorizaci&oacute;n</h1>{% endblock %}

{% block section-content %} 
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Producciones con tareas pendientes</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive" id="box-pendientes">
            {% if list %}
            <table class="table no-margin">
              <thead>
                <th>ID</th>
                <th>Estado</th>
                <th>Operador</th>
                <th>Fecha</th>
                <th>Responsable</th>
                <th>T&iacute;tulo</th>
              </thead>
              <tbody>
                {% for video in list %}
                <tr>
                    <td>{{ video.id }}</td>
                    {% if video.status == 'Aceptado' %}
                        <td><span class="label label-success">{{ video.status }}</span></td>
                    {% else %}
                        <td><span class="label label-danger">{{ video.status }}</span></td>
                    {% endif %}
                    <td>{{ video.operador }}</td>
                    <td>{{ video.fecha }}</td>
                    <td>{{ video.responsable }}</td>
                    <td><a href="{% url 'estado_video' video.id %}">{{ video.titulo }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <i class="icon fa fa-info"></i>No se ha encontrado ninguna producci&oacute;n que tenga alguna tarea pendiente.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block section-widget %}

    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Informaci&oacute;n de inter&eacute;s</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td><i class="fa fa-fw fa-info" style="font-size: 150%;"></i></td>
                        <td>Producciones que requieren de la atenci&oacute;n del operador responsable del sistema para continuar.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
